/* 
* File: style.css
* Author: Simone Ferretti
*
* Stylesheet used to add custom styling to the page 
*
* */

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  font-size: 1em;

  --pico-color-indigo-750: #2f2f92;
  --pico-color-indigo-550: #655cd6;
  --pico-color-indigo-400: #9486e1;
  --pico-color-indigo-250: #bdb2ec;
  --pico-color-indigo-100: #e5e0f4;
  --pico-color-amber-550: #876400;
  --pico-color-amber-400: #b78800;
  --pico-color-amber-250: #e8ae01;
  --pico-color-pumpkin-750: #593100;
  --pico-color-pumpkin-450: #bf6e00;
  --pico-color-sand-550: #6e6a60;
  --pico-color-sand-400: #959082;
  --pico-color-sand-200: #ccc6b4;
  --pico-color-sand-100: #e8e2d2;
  --pico-color-grey-200: #c6c6c6;
  --pico-color-grey-150: #d4d4d4;
  --pico-color-zinc-550: #646b79;
  --pico-color-slate-900: #181c25;
  --pico-color-slate-850: #202632;
  --pico-color-slate-800: #2a3140;
  --pico-color-slate-750: #333c4e;
  --pico-color-slate-550: #5d6b89;
}

@media only screen and (prefers-color-scheme: dark) {
  html {
    --text1: var(--pico-color-indigo-250);
    --text1-hover: var(--pico-color-indigo-100);
    --text2: var(--pico-color-zinc-550);
    --text3: var(--pico-color-slate-550);
    --header-bg: var(--pico-color-slate-800);
    --message-self-bg: var(--pico-color-slate-800);
    --message-others-bg: var(--pico-color-slate-750);
    --chat-bg: linear-gradient(
      to bottom,
      var(--pico-color-slate-850),
      var(--pico-color-slate-900)
    );
    --primary-button: var(--pico-color-indigo-750);
    --secondary-button: var(--pico-color-slate-850);
    --active-button: var(--pico-color-indigo-550);
    --inactive-button: transparent;
    --border: var(--pico-color-indigo-400);
  }
}

@media only screen and (prefers-color-scheme: light) {
  html {
    --text1: var(--pico-color-amber-550);
    --text1-hover: var(--pico-color-amber-400);
    --text2: var(--pico-color-sand-400);
    --text3: var(--pico-color-sand-550);
    --header-bg: var(--pico-color-sand-200);
    --message-self-bg: var(--pico-color-grey-200);
    --message-others-bg: var(--pico-color-sand-200);
    --chat-bg: linear-gradient(
      to bottom,
      var(--pico-color-grey-150),
      var(--pico-color-sand-100)
    );
    --primary-button: var(--pico-color-pumpkin-750);
    --secondary-button: var(--pico-color-pumpkin-450);
    --active-button: var(--pico-color-amber-250);
    --inactive-button: transparent;
    --border: var(--pico-color-amber-400);
  }
}

#madeBy {
  padding: 0.25rem 0;
  background-color: var(--header-bg);
  text-align: center;
  font-size: 0.875rem;
  color: var(--text2);
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

#madeBy > a {
  color: var(--text1);
  text-decoration: none;
}

#madeBy > a:hover {
  color: var(--text1-hover);
}

#disclaimer {
  font-size: 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  opacity: 80%;
  padding: 0.75rem;
  max-width: fit-content;
  margin-bottom: 3rem;
  color: var(--text3);
}

#disclaimer:only-child {
  font-size: 0.875rem;
  padding: 0.75rem;
}

#disclaimer > p {
  margin: 0;
  color: inherit;
}

#disclaimer > ul {
  margin: 0.35rem 0;
  padding-left: 1.75rem;
  color: inherit;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--chat-bg);
  height: 100vh;
}

#message-input-area {
  resize: none;
  height: 3rem;
  overflow: hidden;
}

#chat-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-left: 1rem;
}

#connection-button {
  min-width: 10em;
  background-color: var(--primary-button);
  border-color: var(--border);
}

#send-button {
  transition: opacity 0.125s ease-in;
  background-color: var(--active-button);
  border-color: var(--border);
}

#send-button[disabled] {
  background-color: var(--secondary-button);
}

#connection-button[data-state="connect"] {
  background-color: var(--active-button);
}

#connection-button[data-state="disconnect"] {
  background-color: var(--inactive-button);
}

#messages-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em; /* TODO: reduce gap between same user's messages */
  overflow: scroll;
}

.chat-message {
  white-space: pre-wrap;
  padding: 0.5em;
  border-radius: 0.75em;
  max-width: 50vw;
}

.chat-message > div {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
  gap: 0.75em;
}

.chat-message > div > * {
  color: var(--text3);
  padding: 0.35em;
  border-radius: 0.5em;
}

.self-message {
  align-self: flex-end;
  background-color: var(
    --message-self-bg
  ); /* TODO: Give different color for each user*/
  border-top-right-radius: 0;
}

.others-message {
  align-self: flex-start;
  background-color: var(--message-others-bg);
  border-top-left-radius: 0;
}
